
<main>
  <div class="container-fluid">
    <div class="row mb-4 job-overview-content">
      <div class="col-12 data-tables-hide-filter">
        <div class="card-body">
          <div class="mb-2  d-lg-flex justify-content-lg-between">
            <div class="stacked-title">
              <!--  <a routerLink="/job-overview" class="backbtn backapproverbtn" style="width: 100%;"><i class="simple-icon-arrow-left"></i>Job overview</a> -->
              <h1 class="active" style="text-transform: capitalize;">{{userType}} Employers</h1>
            </div>
            <!-- <div class="top-right-button-container d-flex align-items-center justify-content-lg-end">
              <div class="search_bar">
                <div class="input-group">
                  <input type="text" class="form-control typeahead" name="query" id="query" placeholder="Search..." data-provide="typeahead" autocomplete="off">
                  <span class="search-icon">
                    <i class="simple-icon-magnifier"></i>
                  </span>
                </div>

              </div> -->
            <app-header></app-header>
          </div>
        </div>
        <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block mb-5" aria-label="breadcrumb">
          <ol class="breadcrumb p-0">
            <li class="breadcrumb-item" [ngClass]="{'active': userType === 'verified'}">
              <a routerLink="/employers">Verified</a>
            </li>
            <li class="breadcrumb-item" [ngClass]="{'active': userType === 'unverified'}">
              <a routerLink="/newEmployers">UnVerified</a>
            </li>
          </ol>
        </nav>
        <div class="table-responsive">
          <table class="data-table data-tables-pagination responsive nowrap employees">
            <thead>
              <tr>
                <th>Sr No.</th>
                <th>Profile Picture</th>
                <th>Name </th>
                <th>Phone No. </th>
                <th>Email</th>
                <th style="width: 200px;">Address</th>
                <!-- <th>Payment Type</th> -->
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let emp of jobEmployers; index as i">
                <td>
                 <p>{{ i+pageIndex + 1 }}</p>
                </td>
                <td>
                  <img src="assets/img/defaultPic.jpeg" title="Profile"*ngIf="!emp.profilePic">
                  <img [src]="emp.profilePic" *ngIf="emp.profilePic" class="upload-img">
                </td>
                <td>
                  <p>{{emp.name}}</p>
                </td>
                <td>
                  <p>{{emp.phone || '-'}}</p>
                </td>
                <td>
                  <p>{{emp.email || '-'}}</p>
                </td>
                <td>
                  <p>{{emp.address?.street || '-'}}</p>
                </td>

                <!-- <td>
                  <p>{{emp.employer?.paymentType || '-'}}</p>
                </td> -->
                <td class="actions">
                  <a title="Unblock" *ngIf="emp.isBlocked" class="btn" (click)="BlockEmp('unblock',emp._id)" data-toggle="modal" data-target="#BlockModal">
                    <em class="fa fa-unlock" style="color: red"></em>
                  </a>
                  <a title="Block"  *ngIf="!emp.isBlocked" class="btn"  (click)="BlockEmp('block',emp._id)" data-toggle="modal" data-target="#BlockModal">
                    <em class="fa fa-lock" style="color: green"></em>
                  </a>
                  <a title="Edit Details" routerLink='/editEmployer/{{emp._id}}' class="btn">
                    <em class="simple-icon-pencil" style="color: #1480FF;"></em>
                  </a>
                </td>
              </tr>

            </tbody>
            <tbody *ngIf="jobEmployers.length == 0" class="no-records">
              <tr>
                <td colspan="7">
                  <p>{{loadingMsg}}</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
          <div class="row view-pager">
            <div class="col-sm-12">
              <div class="text-center">
                <div class="paging_simple_numbers">
                
                  <ul class="pagination pagination-sm" *ngIf="pager.pages?.length > 0">
                    
                    <li class="paginate_button page-item previous" [ngClass]="{disabled:pager.currentPage === 1}">
                        <a class="page-link prev" (click)="setPage(pager.currentPage - 1)"><i class="simple-icon-arrow-left"></i></a>
                    </li>
                   
                    <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                      <a class="page-link" (click)="setPage(page)">{{page}}</a>
                    </li>

                    <li class="paginate_button page-item next" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a class="page-link next" (click)="setPage(pager.currentPage+1)"><i class="simple-icon-arrow-right"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>
  </div>
</main>

<!-- Block/unBlock Modal -->
<div class="modal fade" id="BlockModal" tabindex="-1" role="dialog" aria-labelledby="blockModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="blockModalLabel" style="text-transform: capitalize;">{{blockText}} Employer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to {{blockText}} this Employer?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="blockCustomerConfirm(blockText)" data-dismiss="modal" style="text-transform: capitalize;"> {{blockText}} </button>
        <button class="btn btn-primary confirm-btn" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
