.formhalfdiv_group .form-group.mb-1 {
    width: 50%;
}
ul.skillsblk li a {
    background: #1480ff !important;
    color: #fff !important;
    margin-right: 5px;
}
.searchAutoComplete{
	position: relative;
}
.searchAutoComplete .job-dropdown-input{
	display: inline-block;
    border: 1px solid #1480FF;
    padding: 5px 55px 5px 20px;
    border-radius: 30px;
    color: #8B8B9B;
    margin-bottom: 10px;
    font-family: sf_ui_displaybold;
    width: auto !important;
}
.searchAutoComplete .fa-check-circle{
	position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.step3.searchAutoComplete ul.dropdown-menu{
    padding: 0px !important;
    width: 300px;
    min-width: 230px !important;
    border: none !important;
    border-radius: 0px !important;
    background-color: #ffffff;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.2);
    max-height: 200px;
    overflow: scroll;
}
.modal-header{
  background: #1480FF;
  padding: 10px 20px;
  border: none !important;
  border-radius: 0;
  color: #fff;
}
.modal-footer{
      padding: 10px 20px;
}
.actions a{
  cursor: pointer;
}
.profile_formbottomsec{
    margin-bottom: 40px;
}