
<main>
 <div class="container-fluid">
    <div class="row mb-4 job-overview-content">
       <div class="col-12 data-tables-hide-filter">
          <div class="card-body">
             <div class="mb-2  d-lg-flex justify-content-lg-between profile_hdr">
                <div class="stacked-title">
                   <h1 class="active">Edit Employee</h1>
                </div>
                <div class="top-right-button-container d-flex align-items-center justify-content-lg-end">
                  <app-header></app-header>
                </div>
             </div>
             
             <div class="profile_contsec">
                <div class="row">
                   <div class="col profileleft_sidebar">
                      <div class="profileleft_sidebarbg text-center">
                         <form [formGroup] = "uploadForm"> 
                            <img src="assets/img/defaultPic.jpeg" class="profile_image" (click)="imgUpload()" *ngIf="!profilePic" style="cursor: pointer;"/>
                            <img [src]="profilePic" class="profile_image"  (click)="imgUpload()" *ngIf="profilePic" style="cursor: pointer;"/>
                           <!--  <img src="assets/img/img1.png" title="Profile" (click)="imgUpload()" *ngIf="!imgUrl" style="cursor: pointer;">
                            <img [src]="imgUrl" *ngIf="imgUrl" (click)="imgUpload()"  style="cursor: pointer;" class="upload-img"> -->
                            <input type='file' (change)="onSelectFile($event)" id="my_file" style="display: none;">
                         </form>
                         <h3>{{name}}</h3>
                      </div>
                   </div>

                   <div class="col profile_middlecont">
                      <div class="form-side profile_formsec">
                         <form [formGroup]="empForm" (ngSubmit)="onSubmit()">
                            
                            <div class="formhalfdiv_group">
                               <label class="form-group mb-1">
                               <span>Name</span>
                               <input class="form-control" placeholder="Trading name" type="text" formControlName="name" readonly="" />
                               </label>
                               
                            </div>
                            <div class="formhalfdiv_group">
                               <label class="form-group mb-1">
                               <span>Email Address</span>
                               <input class="form-control" placeholder="Email Address" type="text" formControlName="email" />
                               </label>
                               
                            </div>

                            <div class="formhalfdiv_group">
                               <label class="form-group mb-1">
                               <span>Phone No.</span>
                               <input class="form-control" formControlName="phone" placeholder="Phone No." type="text"/>
                               </label>
                               
                            </div>
                            <div class="formhalfdiv_group">
                               <label class="form-group mb-1">
                               <span>Street</span>
                               <input class="form-control" placeholder="Street" type="text" formControlName="street"/>
                               </label>
                               
                            </div>

                            <div class="formhalfdiv_group">
                               <label class="form-group mb-1">
                               <span>Suburb</span>
                               <input class="form-control" placeholder="Suburb" type="text" formControlName="suburb"/>
                               </label>
                               
                            </div>
                            <div class="formhalfdiv_group">
                               <label class="form-group mb-1">
                               <span>Region</span>
                               <input class="form-control" placeholder="Region" type="text" formControlName="region"/>
                               </label>
                               
                            </div>
                            <div class="formhalfdiv_group">
                               <label class="form-group mb-1">
                               <span>Postal Code</span>
                               <input class="form-control" placeholder="Postal Code" type="text" formControlName="postal"/>
                               </label>
                               
                            </div>
                            <div class="formhalfdiv_group">
                               <label class="form-group mb-1">
                               <span>Country</span>
                               <input class="form-control" placeholder="Country" type="text" formControlName="country"/>
                               </label>
                               
                            </div>

                            <div class="formhalfdiv_group">
                               <label class="form-group mb-1">
                               <span>Industry</span>
                               <input class="form-control" placeholder="Industry" type="text" formControlName="industry" readonly="" />
                               </label>
                               
                            </div>
                            
                            <div class="row mb-1">
                              <div class="col-lg-12">
                                <div class="form-group stepform_group rs">
                                  <span>Skills </span>
                                  <ul class="skillsblk" style="display: inline-block;">
                                    <li class="addeditem">
                                      <a *ngFor="let js of jobSkill;" (click)="removeSkill(js)" style="cursor: pointer;">{{js}}  &nbsp;&nbsp;X</a>
                                    </li>
                                    <li class="adskill" *ngIf="isAddSkill">
                                      <a href="javascript:void(0)" (click)="addSkill()">
                                        <i class="fa fa-plus"></i>
                                        Add a Skill
                                      </a>
                                    </li>

                                  </ul>

                                  <div class="d-inline-block" *ngIf="!isAddSkill">
                                    <div class="step3 searchAutoComplete adskill">
                                      <input class="job-dropdown-input" id="searchSkills" (keyup)="onChangeSkill($event)" [(ngModel)]="skillSearch" formControlName="skillSearch">
                                      <!-- <a href="javascript:void(0)" (click)="addNewSATs('SKILL')" *ngIf="skills.length == 0" style="right: 30px;position: absolute;top: 6px;">
                                        <svg height="469.33333pt" viewBox="0 0 469.33333 469.33333" width="469.33333pt" xmlns="http://www.w3.org/2000/svg">
                                          <path d="m437.332031 192h-160v-160c0-17.664062-14.335937-32-32-32h-21.332031c-17.664062 0-32 14.335938-32 32v160h-160c-17.664062 0-32 14.335938-32 32v21.332031c0 17.664063 14.335938 32 32 32h160v160c0 17.664063 14.335938 32 32 32h21.332031c17.664063 0 32-14.335937 32-32v-160h160c17.664063 0 32-14.335937 32-32v-21.332031c0-17.664062-14.335937-32-32-32zm0 0" />
                                        </svg>
                                      </a>
 -->
                                      <i class="fa fa-check-circle" (click)="removeSkillBox()"></i>

                                      <ul class="dropdown-menu" [ngStyle]="{'display':isAddSkill ? '' : 'grid' }" *ngIf="skills.length > 0" >
                                        <li class="dropdown-item" *ngFor="let skill of skills; let i = index" (click)="skillsFunc(skill.description,skill._id)">{{skill.description}}</li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="row mb-1">
                              <div class="col-lg-12">
                                <div class="form-group stepform_group rs">
                                  <span>Tasks </span>
                                  <ul class="skillsblk" style="display: inline-block;">
                                    <li class="addeditem">
                                      <a *ngFor="let ta of jobTask;" (click)="removeTask(ta)" style="cursor: pointer;">{{ta}}  &nbsp;&nbsp;X</a>
                                    </li>
                                    <li class="adskill" *ngIf="isAddTask">
                                      <a href="javascript:void(0)" (click)="addTask()">
                                        <i class="fa fa-plus"></i>
                                        Add a Task
                                      </a>
                                    </li>

                                  </ul>

                                  <div class="d-inline-block" *ngIf="!isAddTask">
                                    <div class="step3 searchAutoComplete adskill">
                                      <input class="job-dropdown-input" id="searchTask" (keyup)="onChangeTask($event)" [(ngModel)]="taskSearch" formControlName="taskSearch">
                                     
                                      <i class="fa fa-check-circle" (click)="removeTaskBox()"></i>

                                      <ul class="dropdown-menu" [ngStyle]="{'display':isAddTask ? '' : 'grid' }" *ngIf="tasks.length > 0" >
                                        <li class="dropdown-item" *ngFor="let task of tasks; let i = index" (click)="tasksFunc(task.description,task._id)">{{task.description}}</li>
                                      </ul>
                                    </div>
                                  </div>

                                </div>
                              </div>
                            </div>

                            <div class="row mb-1">
                              <div class="col-lg-12">
                                <div class="form-group stepform_group rs">
                                  <span>Abilities </span>
                                  <ul class="skillsblk" style="display: inline-block;">
                                    <li class="addeditem">
                                      <a *ngFor="let aa of jobAbility;" (click)="removeAbility(aa)" style="cursor: pointer;">{{aa}}  &nbsp;&nbsp;X</a>
                                    </li>
                                    <li class="adskill" *ngIf="isAddAbility">
                                      <a href="javascript:void(0)" (click)="addAbility()">
                                        <i class="fa fa-plus"></i>
                                        Add a Abilities
                                      </a>
                                    </li>
                                  </ul>
                                  <div class="d-inline-block" *ngIf="!isAddAbility">
                                    <div class="step3 searchAutoComplete adskill">
                                      <input class="job-dropdown-input" id="searchAbility" (keyup)="onChangeAbility($event)" [(ngModel)]="abilitySearch" formControlName="abilitySearch">
                                      
                                      <i class="fa fa-check-circle" (click)="removeAbilityBox()"></i>

                                      <ul class="dropdown-menu" [ngStyle]="{'display':isAddAbility ? '' : 'grid' }" *ngIf="abilities.length > 0" >
                                        <li class="dropdown-item" *ngFor="let abl of abilities; let i = index" (click)="abilitiesFunc(abl.description,abl._id)">{{abl.description}}</li>
                                      </ul>
                                    </div>
                                  </div>

                                </div>
                              </div>
                            </div>


                            <div class="row mb-1" *ngIf="resumePic.length > 0">
                              <div class="col-lg-12">
                                <div class="form-group stepform_group rs">
                                  <span>Resumes </span>
                                  <a href="{{resumePic[0].links[0]}}" target="_blank">
                                    <img [src]="resumePic[0].links[0]" class="resume_image" *ngIf="resumePic.length > 0" style="width: 100px;height: 100px;" />
                                  </a>
                                </div>
                              </div>
                            </div>
                            
                            <div class="profile_formbottomsec text-right">
                              <a routerLink="/employees" style="color: #007bff;float: left;">Go Back</a>
                              
                              <button type="button" class="btn btn-success margin10" data-toggle="modal" data-target="#verifyModal" style="margin-right: 10px" [disabled]="verifyStatus">{{verifyBtn}}</button>
                              
                              <button class="btn btn-primary btn-lg" type="submit" [disabled]="empForm.invalid">{{submitBtn}}</button>
                              <!-- <button class="btn btn-danger btn-lg" type="cancel">Cancel</button> -->
                            </div>
                         </form>
                      </div>
                   </div>
                   
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
</main>

<!-- Modal -->
<div class="modal fade" id="verifyModal" tabindex="-1" role="dialog" aria-labelledby="verifyModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="verifyModalLabel">Verify Employee</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to verify this employee?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="verifyCustomer()" data-dismiss="modal"> Verify </button>
        <button class="btn btn-primary confirm-btn" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>