<app-user-menu></app-user-menu> 
<div class="menu">
        <div class="main-menu default-transition">
        <div class="menu-closer-arrow menu-button" (click)="showHideMenu()"><img src="assets/img/menu-close-arrow.svg"></div>
            <div class="scroll">
                <ul class="list-unstyled">
                    <li>
                        <a class="menu-logo" routerLink="/">
                            <img class="logo-circle" src="assets/img/blue_logo.png" style="width: 28px;">
                            <img class="logo-blue" src="assets/img/text_logo.png">
                        </a>
                    </li>  
                    
                    <li routerLinkActive="active">
                        <a routerLink="/dashboard">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.05444 0C0.481375 0 0 0.458453 0 1.05444V10.9799C0 11.553 0.458453 12.0344 1.05444 12.0344H6.9914L6.69341 13.3868H5.75358C5.5702 13.3868 5.43266 13.5244 5.43266 13.7077C5.43266 13.8911 5.5702 14.0287 5.75358 14.0287H10.659C10.8424 14.0287 10.9799 13.8911 10.9799 13.7077C10.9799 13.5244 10.8424 13.3868 10.659 13.3868H9.7192L9.4212 12.0344H14.9456C15.5186 12.0344 16 11.5759 16 10.9799V1.05444C16 0.481375 15.5415 0 14.9456 0H1.05444ZM1.46705 0.939828H14.533C14.7622 0.939828 14.9456 1.12321 14.9456 1.35244V8.66476C14.9456 8.89398 14.7622 9.07736 14.533 9.07736H1.46705C1.23782 9.07736 1.05444 8.89398 1.05444 8.66476V1.37536C1.05444 1.12321 1.23782 0.939828 1.46705 0.939828ZM8.2063 10.0401C7.88539 10.0401 7.63324 10.2923 7.63324 10.6132C7.63324 10.9341 7.88539 11.1862 8.2063 11.1862C8.52722 11.1862 8.77937 10.9341 8.77937 10.6132C8.77937 10.2923 8.52722 10.0401 8.2063 10.0401Z"/>
                            </svg>  
                            <span>Dashboard</span>
                        </a>
                    </li>

                    <!-- <li routerLinkActive="active">
                        <a routerLink="/categories">
                            <i class="simple-icon-list"></i>
                            <span>Categories</span>
                        </a>
                    </li>


                    <li routerLinkActive="active">
                        <a routerLink="/certificates">
                            <i class="simple-icon-docs"></i>
                            <span>Certificates</span>
                        </a>
                    </li>
 -->
                    <li routerLinkActive="active">
                        <a routerLink="/verifiedEmployees">
                           <i class="simple-icon-people"></i>
                            <span>Employees</span>
                        </a>
                    </li>

                    <li routerLinkActive="active">
                        <a routerLink="/employers">
                            <i class="simple-icon-user"></i>
                            <span>Employers</span>
                        </a>
                    </li>

                     <li  routerLinkActive="active">
                        <a routerLink="/jobs/posted">
                            <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.3294 3.01452H14.377C15.172 3.01452 15.818 3.66048 15.818 4.45551V6.34371C15.818 6.59216 15.6192 6.79092 15.3708 6.79092H8.86148V6.44309C8.86148 6.27746 8.72897 6.14495 8.56334 6.14495H7.33767C7.17203 6.14495 7.03953 6.27746 7.03953 6.44309V6.79092H0.530213C0.281766 6.79092 0.0830078 6.59216 0.0830078 6.34371V4.43895C0.0830078 3.66048 0.712407 3.01452 1.50744 3.01452H4.57162V2.25261C4.57162 1.07663 5.53228 0.115967 6.70827 0.115967H9.19274C10.3687 0.115967 11.3294 1.07663 11.3294 2.25261V3.01452ZM6.70827 1.70603C6.41013 1.70603 6.16168 1.95448 6.16168 2.25261V3.01452H9.73932V2.25261C9.73932 1.95448 9.49088 1.70603 9.19274 1.70603H6.70827Z"/>
                            <path d="M14.7419 7.61908H8.8454C8.79571 8.06628 8.41475 8.39755 7.95099 8.39755C7.48722 8.39755 7.12283 8.04972 7.07314 7.61908H1.1601C0.911648 7.61908 0.712891 7.81784 0.712891 8.06628V12.3561C0.712891 13.1512 1.35885 13.7806 2.13732 13.7806H13.7481C14.5431 13.7806 15.1891 13.1346 15.1891 12.3396V8.06628C15.1891 7.81784 14.9903 7.61908 14.7419 7.61908Z"/>
                            </svg>
                            <span>Jobs</span>
                        </a>
                    </li>

                  <!--   <li  routerLinkActive="active">
                        <a routerLink="/notifications">
                            <i class="simple-icon-bell"></i>
                            <span>Notifications</span>
                        </a>
                    </li>

                    <li  routerLinkActive="active">
                        <a routerLink="/contact-us">
                            <i class="simple-icon-phone"></i>
                            <span>Contact Us</span>
                        </a>
                    </li>  -->
                    
                </ul>
            </div>
        </div>

        
    </div>