<!-- <app-user-menu></app-user-menu> -->
<app-sidebar></app-sidebar>
<main>
         <div class="container-fluid">
            <div class="row mb-4 job-overview-content">
               <div class="col-12 data-tables-hide-filter">
                  <div class="card-body">
                     <div class="mb-2  d-lg-flex justify-content-lg-between profile_hdr">
                        <div class="stacked-title">
                           <h1 class="active">Profile</h1>
                        </div>
                        <div class="top-right-button-container d-flex align-items-center justify-content-lg-end">
                           <app-header></app-header>
                        </div>
                     </div>
                     <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block mb-5" aria-label="breadcrumb">
                        <ol class="breadcrumb p-0">
                           <li class="breadcrumb-item">
                              <a href="javascript:void(0)"  routerLink="/profile-overview/5f144cfbec3f5d77aa097804">Overview</a>
                           </li>
                           <li class="breadcrumb-item">
                              <a href="javascript:void(0)"  routerLink="/edit-profile/5f144cfbec3f5d77aa097804">Edit profile</a>
                           </li>
                           <li class="breadcrumb-item active">
                              <a href="javascript:void(0)"  routerLink="/change-password/5f144cfbec3f5d77aa097804">Change password</a>
                           </li>
                           <li class="breadcrumb-item">
                              <a href="javascript:void(0)"  routerLink="/billing/5f144cfbec3f5d77aa097804">Billing</a>
                           </li>
                        </ol>
                     </nav>
                     <div class="profile_contsec">
                        <div class="row">
                           <div class="col profileleft_sidebar">
                              <div class="profileleft_sidebarbg text-center">
                                 <img [src]="profilePic" class="profile_image" *ngIf="profilePic"/>
                                 <img src="assets/img/img1.png" class="profile_image" *ngIf="!profilePic"/>
                                 <h3>{{name}}</h3>
                              </div>
                           </div>
                           <div class="col profile_middlecont">
                              <div class="form-side profile_formsec changepass_formsec">
                                 <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                                    <!-- <label class="form-group mb-1 formhalfdiv">
                                    <span>Current Password</span>
                                    <input class="form-control" placeholder="" value="" type="password"/>
                                    </label> -->
                                    <label class="form-group mb-1 formhalfdiv">
                                    <span>New Password</span>
                                    <input class="form-control" placeholder="New Password" formControlName="password" type="password"/>
                                    </label>
                                     <div class="validation-error" *ngIf="f.password.errors?.required && (!f.password.pristine || submitted == true)">Password is required.</div>
                                     <div class="validation-error" *ngIf="f.password.errors?.invalid && (!f.password.pristine || submitted == true)">Password must contain at least one capital letter, small letter, digit and 8 characters.</div>
                                    <label class="form-group mb-1 formhalfdiv">
                                    <span>Repeat New Password</span>
                                    <input class="form-control" placeholder="Repeat New Password" formControlName="confirmPassword" type="password"/>
                                    </label>
                                    <div class="validation-error" *ngIf="f.confirmPassword.errors?.required && (!f.confirmPassword.pristine || submitted == true)">Confirm Password is required.</div>
                                    <div class="validation-error" *ngIf="f.confirmPassword.errors?.mustMatch">Password and Confirm Password don't match.</div>

                                    <div class="profile_formbottomsec text-right">
                                       <!-- <a href="javascript:void(0);" class="canclebtn"> Cancel</a> -->
                                       <button class="btn btn-primary btn-lg" type="submit" [disabled]="changePasswordForm.invalid">{{submitBtn}}</button>
                                    </div>
                                 </form>
                              </div>
                           </div>
                           <div class="col profileright_sidebar">
                              <div class="profileright_sidebarbg">
                                 <img src="assets/img/siderbaricon.png" />
                                 <p>Utilize this space to communicate subscription plan</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </main>
<app-footer></app-footer>