
<main>
  <div class="container-fluid">
    <div class="row mb-4 job-overview-content">
      <div class="col-12 data-tables-hide-filter">
        <div class="card-body">
          <div class="mb-2  d-lg-flex justify-content-lg-between">
            <div class="stacked-title">
              <!--  <a routerLink="/job-overview" class="backbtn backapproverbtn" style="width: 100%;"><i class="simple-icon-arrow-left"></i>Job overview</a> -->
              <h1 class="active">To be Verified Employees</h1>
            </div>
            <!-- <div class="top-right-button-container d-flex align-items-center justify-content-lg-end">
              <div class="search_bar">
                <div class="input-group">
                  <input type="text" class="form-control typeahead" name="query" id="query" placeholder="Search..." data-provide="typeahead" autocomplete="off">
                  <span class="search-icon">
                    <i class="simple-icon-magnifier"></i>
                  </span>
                </div>

              </div> -->
            <app-header></app-header>
          </div>
        </div>
        <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block mb-5" aria-label="breadcrumb">
          <ol class="breadcrumb p-0">
            <li class="breadcrumb-item">
              <a routerLink="/employees">Verified</a>
            </li>
            <li class="breadcrumb-item active">
              <a routerLink="/newEmployees">To be Verified</a>
            </li>
          </ol>
        </nav>
        <div class="table-responsive">
          <table class="data-table data-tables-pagination responsive nowrap employees">
            <thead>
              <tr>
                <th>Sr No.</th>
                <th>Profile Picture</th>
                <th>Name </th>
                <th>Phone No. </th>
                <th>Email</th>
                <th>Address</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let emp of jobEmployees; index as i">
                <td>
                  <p>{{i+1}}</p>
                </td>
                <td>
                  <img src="assets/img/defaultPic.jpeg" title="Profile"*ngIf="!emp.profilePic">
                  <img [src]="emp.profilePic" *ngIf="emp.profilePic" class="upload-img">
                </td>
                <td>
                  <p>{{emp.name}}</p>
                </td>
                <td>
                  <p>{{emp.phone || '-'}}</p>
                </td>
                <td>
                  <p>{{emp.email || '-'}}</p>
                </td>
                <td>
                  <p>{{emp.address.country || '-'}}</p>
                </td>
               
              </tr>
            </tbody>
            <tbody *ngIf="jobEmployees.length == 0" class="no-records">
              <tr>
                <td colspan="6">
                  <p>{{loadingMsg}}</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
          <div class="row view-pager">
            <div class="col-sm-12">
              <div class="text-center">
                <div class="paging_simple_numbers">
                
                  <ul class="pagination pagination-sm" *ngIf="pager.pages?.length > 0">
                    
                    <li class="paginate_button page-item previous" [ngClass]="{disabled:pager.currentPage === 1}">
                        <a class="page-link prev" (click)="setPage(pager.currentPage - 1)"><i class="simple-icon-arrow-left"></i></a>
                    </li>
                   
                    <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                      <a class="page-link" (click)="setPage(page)">{{page}}</a>
                    </li>

                    <li class="paginate_button page-item next" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a class="page-link next" (click)="setPage(pager.currentPage+1)"><i class="simple-icon-arrow-right"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>
  </div>
</main>
<main>
  <!--profilepopup-start-->
  <div class="profilepopup pt-3">
    <div class="container">
      <!-- The Modal -->
      <div class="modal" id="myModal">
        <div class="modal-dialog profile_popupsec">
          <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="popupshadow_div">
              <div class="popupshadow_blk">
                <div id="profilecarousel" class="carousel slide" data-ride="carousel">
                  <!-- The slideshow -->
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="profile_popup">
                        <div class="row">
                          <div class="col-sm-4 pr-0 profileleft_popup">
                            <div class="profile_popupbg">
                              <div class="profile-popupimg">
                                <img src="assets/img/profile-popup-img.png">
                              </div>
                              <div class="profile-popupcont">
                                <h3>Matthew Frazer</h3>
                                <p>Head Barista at Starbucks</p>
                                <ul>
                                  <li>
                                    <a href="mailto:matthewfrazer@gmail.com">
                                      <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.1364 0H1.28788C0.575758 0 0 0.575758 0 1.28788V8.71212C0 9.42424 0.575758 10 1.28788 10H11.1364C11.8485 10 12.4242 9.42424 12.4242 8.71212V1.28788C12.4242 0.575758 11.8485 0 11.1364 0ZM11.2121 8.71212C11.2121 8.75758 11.1818 8.78788 11.1364 8.78788H1.28788C1.24242 8.78788 1.21212 8.75758 1.21212 8.71212V3.5L5.39394 6.63636C5.63636 6.81818 5.92424 6.92424 6.21212 6.92424C6.5 6.92424 6.78788 6.83333 7.01515 6.65152L11.2121 3.5V8.71212ZM6.28788 5.66667L11.2121 1.98485V1.28788C11.2121 1.24242 11.1818 1.21212 11.1364 1.21212H1.28788C1.24242 1.21212 1.21212 1.24242 1.21212 1.28788V1.98485L6.12121 5.66667C6.18182 5.69697 6.24242 5.69697 6.28788 5.66667Z" fill="white" />
                                      </svg>
                                      <span>matthewfrazer@gmail.com</span>
                                    </a>
                                  </li>
                                  <li>
                                    <a href="tel:+61 009 38123 931">
                                      <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <mask id="path-1-outside-1" maskUnits="userSpaceOnUse" x="0.477051" y="0.491882" width="10" height="15" fill="black">
                                          <rect fill="white" x="0.477051" y="0.491882" width="10" height="15" />
                                          <path fill-rule="evenodd" clip-rule="evenodd" d="M3.28496 1.49188H7.62369C8.62023 1.49188 9.4316 2.30261 9.4316 3.29979V12.7008C9.4316 13.6973 8.62023 14.5087 7.62369 14.5087H3.28496C2.28841 14.5087 1.47705 13.6973 1.47705 12.7008V3.29979C1.47705 2.30325 2.28841 1.49188 3.28496 1.49188ZM7.62369 13.7852C8.22187 13.7852 8.70869 13.2983 8.70869 12.7002V3.29979C8.70869 2.70161 8.22187 2.21479 7.62369 2.21479H3.28496C2.68678 2.21479 2.19996 2.70161 2.19996 3.29979V12.7002C2.19996 13.2983 2.68678 13.7852 3.28496 13.7852H7.62369Z" />
                                        </mask>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.28496 1.49188H7.62369C8.62023 1.49188 9.4316 2.30261 9.4316 3.29979V12.7008C9.4316 13.6973 8.62023 14.5087 7.62369 14.5087H3.28496C2.28841 14.5087 1.47705 13.6973 1.47705 12.7008V3.29979C1.47705 2.30325 2.28841 1.49188 3.28496 1.49188ZM7.62369 13.7852C8.22187 13.7852 8.70869 13.2983 8.70869 12.7002V3.29979C8.70869 2.70161 8.22187 2.21479 7.62369 2.21479H3.28496C2.68678 2.21479 2.19996 2.70161 2.19996 3.29979V12.7002C2.19996 13.2983 2.68678 13.7852 3.28496 13.7852H7.62369Z" fill="white" />
                                        <path d="M7.62369 0.991882H3.28496V1.99188H7.62369V0.991882ZM9.9316 3.29979C9.9316 2.02635 8.89626 0.991882 7.62369 0.991882V1.99188C8.3442 1.99188 8.9316 2.57887 8.9316 3.29979H9.9316ZM9.9316 12.7008V3.29979H8.9316V12.7008H9.9316ZM7.62369 15.0087C8.89637 15.0087 9.9316 13.9735 9.9316 12.7008H8.9316C8.9316 13.4212 8.34409 14.0087 7.62369 14.0087V15.0087ZM3.28496 15.0087H7.62369V14.0087H3.28496V15.0087ZM0.977051 12.7008C0.977051 13.9735 2.01227 15.0087 3.28496 15.0087V14.0087C2.56456 14.0087 1.97705 13.4212 1.97705 12.7008H0.977051ZM0.977051 3.29979V12.7008H1.97705V3.29979H0.977051ZM3.28496 0.991882C2.01227 0.991882 0.977051 2.0271 0.977051 3.29979H1.97705C1.97705 2.57939 2.56456 1.99188 3.28496 1.99188V0.991882ZM8.20869 12.7002C8.20869 13.0222 7.94573 13.2852 7.62369 13.2852V14.2852C8.49801 14.2852 9.20869 13.5745 9.20869 12.7002H8.20869ZM8.20869 3.29979V12.7002H9.20869V3.29979H8.20869ZM7.62369 2.71479C7.94573 2.71479 8.20869 2.97775 8.20869 3.29979H9.20869C9.20869 2.42547 8.49801 1.71479 7.62369 1.71479V2.71479ZM3.28496 2.71479H7.62369V1.71479H3.28496V2.71479ZM2.69996 3.29979C2.69996 2.97775 2.96292 2.71479 3.28496 2.71479V1.71479C2.41064 1.71479 1.69996 2.42547 1.69996 3.29979H2.69996ZM2.69996 12.7002V3.29979H1.69996V12.7002H2.69996ZM3.28496 13.2852C2.96292 13.2852 2.69996 13.0222 2.69996 12.7002H1.69996C1.69996 13.5745 2.41064 14.2852 3.28496 14.2852V13.2852ZM7.62369 13.2852H3.28496V14.2852H7.62369V13.2852Z" fill="white" mask="url(#path-1-outside-1)" />
                                      </svg>
                                      <span>+61 009 38123 931</span></a>
                                  </li>
                                  <li>
                                    <a href="#">
                                      <svg width="10" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 4.61545C-4.61538e-06 2.0719 2.07184 6.10352e-05 4.61538 6.10352e-05C7.15893 6.10352e-05 9.23077 2.0719 9.23077 4.61545C9.23077 5.92023 8.59056 7.26033 7.7515 8.51779C6.91245 9.77525 5.85696 10.9496 4.94171 11.8648C4.76146 12.045 4.46931 12.045 4.28906 11.8648C3.39422 10.97 2.33857 9.79619 1.49459 8.53401C0.650612 7.27184 4.61539e-06 5.92301 0 4.61545ZM8.30769 4.61545C8.3077 2.57077 6.66006 0.923138 4.61538 0.923138C2.57071 0.923138 0.923072 2.57077 0.923077 4.61545C0.923077 5.60198 1.46885 6.83446 2.26172 8.02019C2.95994 9.06438 3.82527 10.0625 4.61538 10.8796C5.42088 10.0474 6.28981 9.04669 6.98437 8.00577C7.77179 6.8257 8.30769 5.60477 8.30769 4.61545Z" fill="white" />
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.76904 4.61544C2.76904 3.60131 3.60106 2.76929 4.6152 2.76929C5.62933 2.76929 6.46135 3.60131 6.46135 4.61544C6.46135 5.62957 5.62933 6.46159 4.6152 6.46159C3.60106 6.46159 2.76904 5.62957 2.76904 4.61544ZM5.53827 4.61544C5.53827 4.10017 5.13046 3.69236 4.6152 3.69236C4.09993 3.69236 3.69212 4.10017 3.69212 4.61544C3.69212 5.13071 4.09993 5.53852 4.6152 5.53852C5.13046 5.53852 5.53827 5.13071 5.53827 4.61544Z" fill="white" />
                                      </svg>
                                      <span>11 Hinkley Road DAWES POINT, 2000, Melbourne</span>
                                    </a>
                                  </li>
                                </ul>
                                <div class="profile_buttons">
                                  <a href="#" class="rejectbtn">Reject</a>
                                  <a href="#" class="emailbtn">Email</a>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-8 p-0 profileright_popup">
                            <div class="profilepopup_right">
                              <p>I’m Matthew Frazer, a self-trained, full-time barista working in Melbourne.
                                I am Head Barista and Trainer at the Starbucks cafe. In 2010 I came 4th in the whole of the Australia, in the Australian Final of the official Barista Championships.
                              </p>
                              <div class="profilecont_blk">
                                <h4>Skills</h4>
                                <ul class="skills_selected skillsblk">
                                  <li class="active"><a href="#">Lattle art</a></li>
                                  <li class="active"><a href="#">Leadership</a></li>
                                  <li class="active"><a href="#">Customer expectation management</a></li>
                                </ul>
                              </div>
                              <div class="profilecont_blk profile_docs">
                                <div class="profile_doc_blk">
                                  <div class="profiledoc">
                                    <h4>Resume</h4>
                                    <img src="assets/img/resume.png">
                                  </div>
                                  <div class="profiledoc">
                                    <h4>Certificate</h4>
                                    <div class="profiledoc">
                                      <img src="assets/img/certificate.png">
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="profilecont_blk">
                                <h4>Experience Level</h4>
                                <ul class="skills_selected skillsblk">
                                  <li class="active"><a href="#">Mid level</a></li>
                                </ul>
                              </div>
                              <div class="profilecont_blk">
                                <h4>Previous Employment</h4>
                                <div class="prev_empblk">
                                  <div class="prev_empblkheader">
                                    <h2>Head Barista<span>2018-Present</span></h2>
                                  </div>
                                  <div class="prev_empblkcont">
                                    <h3>Starbucks</h3>
                                    <h4>REFEREE </h4>
                                    <p>Karl Johnson <span>+61 009 9342 92</span></p>
                                    <p>Frederick Underwood Sandler <span>+61 009 9342 93</span></p>
                                  </div>
                                </div>
                                <div class="prev_empblk">
                                  <div class="prev_empblkheader">
                                    <h2>Senior Barista<span>2018-Present</span></h2>
                                  </div>
                                  <div class="prev_empblkcont">
                                    <h3>The Barn</h3>
                                    <h4>REFEREE </h4>
                                    <p>Karl Johnson <span>+61 009 9342 92</span></p>
                                    <p>Frederick Underwood Sandler <span>+61 009 9342 93</span></p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>