<footer class="page-footer">
<div class="footer-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-6">
                
            </div>
            <div class="col-sm-6 d-none d-sm-block">
                <ul class="breadcrumb pt-0 pr-0 float-right">
                    <li class="breadcrumb-item mb-0">
                        <a href="#" class="btn-link">About</a>
                    </li>
                    <li class="breadcrumb-item mb-0">
                        <a href="#" class="btn-link">FAQ</a>
                    </li>
                    <li class="breadcrumb-item mb-0">
                        <a href="http://support.acquire.jobs/en/articles/4633429-privacy-policy" target="_blank" class="btn-link">Privacy Policy</a>
                    </li>
                    <li class="breadcrumb-item mb-0">
                        <a class="text-muted">Copyright © 2020</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</footer>