<main class="auth-pager">
    <div class="container">
        <div class="row h-100"> 		    
            <div class="col-12 col-xl-12 auth-header-upload" style="max-width: 500px;">
                    <div class="auth-logo">
                        <a href="#">
                            <img src="assets/img/text_logo.png">
                        </a>
                    </div>
                    <div class="upload-section" style="margin-top: 50px;">
                        <h1 class="text-white h2">Thank you for joining Acquire.</h1>
                        <p>{{message}}</p>
                    </div>
            </div>
        </div>
    </div>
</main>

