.imgUpload-background{    
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 15px;
    border-radius: 20px;
}
.auth-header-upload {
    display: block;
    align-items: center;
    max-width: 340px;
    margin: 100px auto;
    text-align: center;
}
.upload-section p{
	font-family: 'sf_ui_displayregular';
    color: #fff;
    margin-bottom: 60px;
    font-size: 16px;
    opacity: 0.9;
}
.upload-section h1{
	margin-top: 40px;padding:0;
}
.upload-section button{
	margin: 30px 0 20px 0
}
.upload-section a{
	color: #fff;
}
.uploaded-img{
	width: 150px;
    margin-bottom: 20px;
}
button.success-upload{
	border: 1px solid #fff !important;
}

@media (max-width: 767px){
	.auth-header-upload{margin: 30px auto !important;}
}