
<main>
  <div class="container-fluid">
    <div class="row mb-4 job-overview-content">
      <div class="col-12 data-tables-hide-filter">
        <div class="card-body">
          <div class="mb-2  d-lg-flex justify-content-lg-between">
            <div class="stacked-title">
              <h1 class="active" style="text-transform: capitalize;">Employees</h1>
            </div>
            <app-header></app-header>
          </div>
        </div>
        
        <div class="table-responsive">
          <table class="data-table data-tables-pagination responsive nowrap employees">
            <thead>
              <tr>
                <th>Sr No.</th>
                <th>Profile Pic</th>
                <th>Name </th>
                <th>Country</th>
                <th>Rating</th>
                <th>Employee Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let job of jobsEmp; index as i">
                <td>
                  <p>{{ i+pageIndex + 1 }}</p>
                </td>
                
                <td>
                  
                  	<img *ngIf="job.profilePic" [src]="job.profilePic" style="width: " />
                    <img *ngIf="!job.profilePic" src="/assets/img/defaultPic.jpeg"/>
                
                </td>
                <td>
                  <p>{{job.name}}</p>
                </td>
                <td>
                  <p>{{job.address.country|| '-'}}</p>
                </td>
                <td>
                  <p>{{job.employeeStatus}}</p>
                </td>
                <td>
                  <p> - </p>
                </td>
              </tr>

            </tbody>
            <tbody *ngIf="jobsEmp.length == 0" class="no-records">
              <tr>
                <td colspan="6">
                  <p>{{loadingMsg}}</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
          <div class="row view-pager">
            <div class="col-sm-12">
              <div class="text-center">
                <div class="paging_simple_numbers">
                
                  <ul class="pagination pagination-sm" *ngIf="pager.pages?.length > 0">
                    
                    <li class="paginate_button page-item previous" [ngClass]="{disabled:pager.currentPage === 1}">
                        <a class="page-link prev" (click)="setPage(pager.currentPage - 1)"><i class="simple-icon-arrow-left"></i></a>
                    </li>
                   
                    <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                      <a class="page-link" (click)="setPage(page)">{{page}}</a>
                    </li>

                    <li class="paginate_button page-item next" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a class="page-link next" (click)="setPage(pager.currentPage+1)"><i class="simple-icon-arrow-right"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>
  </div>
</main>

