/*.formhalfdiv_group .form-group.mb-1 {
    width: 50%;
}
.formhalfdiv_group {
    width: 50%;
    float: left;
}
.formhalfdiv_group .form-group.mb-1 {
    width: 90%;
}
.profile_formbottomsec{
	float: left;
	width: 100%;
}
.form_group{
	width: 95%;
}*/