<main>
         <div class="container-fluid">
            <div class="row mb-4 job-overview-content">
               <div class="col-12 data-tables-hide-filter">
                  <div class="card-body">
                     <div class="mb-2  d-lg-flex justify-content-lg-between profile_hdr">
                        <div class="stacked-title">
                           <h1 class="active">Edit Employer</h1>
                        </div>
                        <div class="top-right-button-container d-flex align-items-center justify-content-lg-end">
                          <app-header></app-header>
                        </div>
                     </div>
                     <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block mb-5" aria-label="breadcrumb">
                       
                     </nav>


                     <div class="profile_contsec">
                        <div class="row">
                           <div class="col profileleft_sidebar">
                              <div class="profileleft_sidebarbg text-center">
                                 <form [formGroup] = "uploadForm"> 
                                    <img src="assets/img/defaultPic.jpeg" class="profile_image" (click)="imgUpload()" *ngIf="!profilePic" style="cursor: pointer;"/>
                                    <img [src]="profilePic" class="profile_image"  (click)="imgUpload()" *ngIf="profilePic" style="cursor: pointer;"/>
                                   <!--  <img src="assets/img/img1.png" title="Profile" (click)="imgUpload()" *ngIf="!imgUrl" style="cursor: pointer;">
                                    <img [src]="imgUrl" *ngIf="imgUrl" (click)="imgUpload()"  style="cursor: pointer;" class="upload-img"> -->
                                    <input type='file' (change)="onSelectFile($event)" id="my_file" style="display: none;">
                                 </form>
                                 <h3>{{name}}</h3>
                              </div>
                           </div>

                            
               

                           <div class="col profile_middlecont">
                              <div class="form-side profile_formsec">
                                  <form [formGroup]="empForm" (ngSubmit)="onSubmit()">
                                    <div class="formhalfdiv_group">
                                       <label class="form-group mb-1 formhalfdiv">
                                       <span>Trading name</span>
                                       <input class="form-control" placeholder="Trading name" value="Blue bottle coffee" type="text" formControlName="trading_name" readonly />
                                       </label>
                                       <span class="labeltext">This is your unique account name and can’t be changed</span>
                                    </div>
                                    <!-- <label class="form-group mb-1 formhalfdiv">
                                    <span>Parent entity</span>                
                                    <input class="form-control" placeholder="Not Applicable" type="text" formControlName="parentEntity"/>
                                    </label> -->
                                    <div class="formhalfdiv_group">
                                       <label class="form-group  mb-1 formhalfdiv">
                                       <span>ABN Number</span>                
                                       <input class="form-control" type="text" placeholder="ABN Number" formControlName="abn_number"/>
                                       </label>
                                       <span class="labeltext">This identifies your business to the government</span>
                                    </div>
                                    <label class="form-group  mb-1">
                                    <span>Email address</span>                
                                    <input class="form-control" type="email" placeholder="Email address" formControlName="email" readonly/>
                                    </label>  
                                    <label class="form-group  mb-1 formhalfdiv">
                                    <span>Phone number</span>               
                                    <input class="form-control" type="text" placeholder="Phone Number" formControlName="phone"/>
                                    </label>  
                                    <label class="form-group  mb-1">
                                    <span>Registered address</span> 
                                     <ng-autocomplete [data]="jobLocation" [searchKeyword]="locKeyword" placeHolder="Registered address" (selected)='selectEvent($event)' (inputChanged)='getJobLocation($event)' [itemTemplate]="itemTemplate" formControlName="address">
                                    </ng-autocomplete>
                                    <ng-template #itemTemplate let-item>
                                      <a [innerHTML]="item.formatted_address"></a>
                                    </ng-template>              
                                   
                                    </label>  
                                  
                                    <div class="profile_formbottomsec text-right">
                                       <a routerLink="/employers" style="color: #007bff;float: left;">Go Back</a>
                                       <button class="btn btn-primary btn-lg" type="submit"  [disabled]="empForm.invalid" >{{submitBtn}}</button>
                                    </div>
                                 </form>
                              </div>
                           </div>
                           <div class="col profileright_sidebar">
                              <div class="profileright_sidebarbg">
                                 <img src="assets/img/siderbaricon.png" />
                                 <p>Utilize this space to communicate subscription plan</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </main>