
<main>
  <div class="container-fluid">
    <div class="row mb-4 job-overview-content">
      <div class="col-12 data-tables-hide-filter">
        <div class="card-body">
          <div class="mb-2  d-lg-flex justify-content-lg-between">
            <div class="stacked-title">
             
              <h1 class="active">All Certificates</h1>
            </div>
            <app-header></app-header>
          </div>
        </div>
        <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block mb-5" aria-label="breadcrumb">
          <ol class="breadcrumb p-0">
            <!-- <li class="breadcrumb-item" [ngClass]="{'active': userType === 'verified'}">
              <a routerLink="/employees">Verified</a>
            </li>
            <li class="breadcrumb-item" [ngClass]="{'active': userType === 'unverified'}">
              <a routerLink="/newEmployees">To be Verified</a>
            </li> -->
            <li class="breadcrumb-item">
              <button class="btn btn-primary" data-toggle="modal" data-target="#addModal" >Add</button>
            </li>
          </ol>
        </nav>
        <div class="table-responsive">
          <table class="data-table data-tables-pagination responsive nowrap employees">
            <thead>
              <tr>
                <th>Sr No.</th>
                <th>Certificate Name</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cert of certificates; index as i">
                <td>
                  <p>{{ i+pageIndex + 1 }}</p>
                </td>
                <td>
                  <p>{{cert.description}}</p>
                </td>
                <td class="actions">
                  <a class="btn verify" data-toggle="modal" data-target="#editModal" (click)="editCertificate(cert._id, cert.description)">
                      <em class="simple-icon-pencil" style="color: #1480FF;"></em>
                  </a>

                  <a class="btn verify" data-toggle="modal" data-target="#deleteModal" (click)="deleteCertificate(cert._id)">
                      <em class="simple-icon-trash" style="color: #1480FF;"></em>
                  </a>
                 
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="certificates.length == 0" class="no-records">
              <tr>
                <td colspan="3">
                  <p>{{loadingMsg}}</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
          <div class="row view-pager">
            <div class="col-sm-12">
              <div class="text-center">
                <div class="paging_simple_numbers">
                
                  <ul class="pagination pagination-sm" *ngIf="pager.pages?.length > 0">
                    
                    <li class="paginate_button page-item previous" [ngClass]="{disabled:pager.currentPage === 1}">
                        <a class="page-link prev" (click)="setPage(pager.currentPage - 1)"><i class="simple-icon-arrow-left"></i></a>
                    </li>
                   
                    <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                      <a class="page-link" (click)="setPage(page)">{{page}}</a>
                    </li>

                    <li class="paginate_button page-item next" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a class="page-link next" (click)="setPage(pager.currentPage+1)"><i class="simple-icon-arrow-right"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>
  </div>
</main>


<!-- Add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form [formGroup]="certForm" (ngSubmit)="onSubmit()">
        <div class="modal-header">
          <h5 class="modal-title" id="addModalLabel">Add Certificate</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div _ngcontent-hmc-c4="" class="modal-body">
          <label>Certificate Name</label>
          <input class="form-control" formControlName="cert_name" placeholder="Certificate Name" type="text" style="width: 100% !important;">
          <div class="validation-error"  *ngIf="submitted && f.cert_name.errors?.required">Certificate Name is required.</div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">{{btnName}}</button>
          <button class="btn btn-primary confirm-btn" data-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form [formGroup]="certForm" (ngSubmit)="onUpdate()">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalLabel">Edit Certificate</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div _ngcontent-hmc-c4="" class="modal-body">
          <label>Certificate Name</label>
          <input class="form-control" formControlName="cert_name" placeholder="Certificate Name" type="text" style="width: 100% !important;">
          <div class="validation-error"  *ngIf="submitted && f.cert_name.errors?.required">Certificate Name is required.</div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">{{editBtnName}}</button>
          <button class="btn btn-primary confirm-btn" data-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Certificate</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this certificate?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="deleteCertificateConfirm()"> {{deleteBtnName}} </button>
        <button class="btn btn-primary confirm-btn" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
