<nav class="navbar fixed-top d-md-none d-block">
  <div class="row">
    <div class="d-flex align-items-center navbar-left col-4">
      <a href="javascript:void(0)" class="menu-button-mobile d-xs-block d-sm-block d-md-none" (click)="mobileSideMenu();">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 17">
          <rect x="0.5" y="0.5" width="25" height="1" />
          <rect x="0.5" y="7.5" width="25" height="1" />
          <rect x="0.5" y="15.5" width="25" height="1" />
        </svg>
      </a>
    </div>
    <div class="user col-8 mobileuserdropdown">
      <a href="javascript:void(0)" class="blue_bottle_btn mr-1" data-toggle="dropdown">{{username}} 
        <!-- <img src="assets/img/Blue_Bottle_icon.png" *ngIf="!profilePic">
        <img [src]="profilePic" *ngIf="profilePic"> -->
        <img src="assets/img/Blue_Bottle_icon.png" *ngIf="!profilePic">
        <img [src]="profilePic" *ngIf="profilePic">
      </a>
      <div class="dropdown-menu  mt-3">
        <a routerLink="/profile-overview/5f144cfbec3f5d77aa097804" class="dropdown-item" href="javascript:void(0)"><i class="simple-icon-user-following"></i>Profile</a>
        <a class="dropdown-item" href="javascript:void(0)"><i class="simple-icon-bell"></i>Notification</a>
        <a class="dropdown-item" href="javascript:void(0)"><i class="simple-icon-phone"></i>Help</a>
        <a class="dropdown-item" href="javascript:void(0)" (click)="logout()"><i class="simple-icon-logout"></i>Sign out</a>
      </div>
    </div>
  </div>
</nav>
