<div class="fixed-background"></div>
  <main class="auth-pager">
      <div class="container">
          <div class="row h-100">
              <div class="col-12 col-xl-10 mx-auto">
                <div class="auth-header">
                  <div class="auth-logo"><a href="javascript:void(0)"><img src="assets/img/Acquire.png" style="width: 68px;"></a></div>
                  <!-- <div clas="authheader-right">
                    <button type="button" class="btn btn-outline-light btn-lg mb-1 mr-4" (click)="signinBtn()">Sign in</button>
                    <button type="button" class="btn btn-outline-light btn-lg mb-1" (click)="signupBtn()">Sign up</button>
                  </div> -->
                </div>          
              </div>          
              <div class="col-12  col-xl-10 mx-auto">
                  <div class="auth-card align-items-center">
                      <!-- <div class="position-relative image-side ">
                          <p class=" text-white h2">Sign up to get<br>qualified candidates<br>for your company</p>
                      </div> -->
                      <div class="form-side">
                          <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                              <label class="form-group">
                                  <span style="max-width: 140px;">New Password</span> 
                                  <input class="form-control" placeholder="New Password" formControlName="password" type="password" />
                                    
                              </label>
                            	
                              <div class="validation-error" *ngIf="f.password.errors?.required && (submitted == true)">Password is required.</div>
                              <div class="validation-error" *ngIf="f.password.errors?.invalid && (!f.password.pristine || submitted == true)">Password must contain at least one capital letter, small letter, digit and 8 characters.</div>
                                
                                <label class="form-group">
	                            <span style="max-width: 140px;">Confirm Password</span>
	                            <input class="form-control" placeholder="Confirm Password" formControlName="confirmPassword" type="password"/>
	                            </label>
	                            <div class="validation-error" *ngIf="f.confirmPassword.errors?.required && (!f.confirmPassword.pristine || submitted == true)">Confirm Password is required.</div>
	                            <div class="validation-error" *ngIf="f.confirmPassword.errors?.mustMatch">Password and Confirm Password don't match.</div>
                              <div class="d-flex align-items-center">
                                 <!--  <button class="btn btn-primary btn-lg btn-block" type="submit">
                                  Sign in and find candidates</button> -->
                                  <button [disabled]="loading" class="btn btn-primary btn-lg btn-block">
                                     {{submitBtn}}
                                      <span *ngIf="loading" class="show-spinner"></span>
                                  </button>
                              </div>
                             <!--  <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div> -->
                            
                              <div class="form-terms" style="margin-top: 8px;">By clicking this button you agree to our <a href="http://support.acquire.jobs/en/articles/4634797-terms-conditions" target="_blank">terms and conditions</a></div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </main>