.profileleft_sidebarbg{
	float: left;
    width: 30%;
    margin: 18px;
}
.icon-section{
	width: 100px;
    border-radius: 100%;
    border: 1px solid #eee;
    background: #fff;
    padding: 27px;
    text-align: center;
    margin: 0 auto;
}
.icon-section > i{
	font-size: 30px;
    color: #1480FF;
}
ul.profile_list{
	padding: 20px 0 10px;
}
.profileleft_sidebarbg{
	padding: 25px 70px;
}
.row.date-filter {
    padding: 0 20px;
}
.date-filter input[type="date"] {
    width: 98%;
    height: 40px;
    padding: 0 5px;
    border: 1px solid grey;    border-radius: 4px;
}
