
<main>
 <div class="container-fluid">
    <div class="row mb-4 job-overview-content">
       <div class="col-12 data-tables-hide-filter">
          <div class="card-body">
             <div class="mb-2  d-lg-flex justify-content-lg-between">
                <div class="stacked-title">
                   <h1 class="active">Dashboard</h1>
                </div>
                <app-header></app-header>
             </div>
             <div class="profile_contsec">
                        <div class="row date-filter">
                              <div class="col-md-4">
                                <input type="date" name="startDate" [(ngModel)]="startDate">
                              </div>
                              <div class="col-md-4">
                                <input type="date" name="endDate" [(ngModel)]="endDate">
                              </div>
                              <div class="col-md-4">
                                <button class="btn btn-primary" type="button" (click)="SearchData()">Apply</button>
                              </div>
                        </div>
                        <div class="row">
                           <div class="col"> 
                              <div class="profileleft_sidebarbg text-center">
                                 <!-- <img src="img/profileuser.png" class="profile_image"> -->
                                 <div class="icon-section"><i class="simple-icon-people"></i></div>
                                 <h3>Employee</h3>
                                 <ul class="profile_list" *ngIf="employeeCount">
                                    <li>Today<span>{{employeeCount.today}}</span></li>
                                    <li>Total<span>{{employeeCount.total}}</span></li>
                                 </ul>
                                 <button class="btn btn-primary" (click)="downloadEmployeeExcel()">Export <i class="fa fa-download"></i></button>
                              </div>
                              <div class="profileleft_sidebarbg text-center">
                                 <!-- <img src="img/profileuser.png" class="profile_image"> -->
                                 <div class="icon-section"><i class="simple-icon-user"></i></div>
                                 <h3>Employer</h3>
                                 <ul class="profile_list" *ngIf="employerCount">
                                    <li>Today<span>{{employerCount.today}}</span></li>
                                    <li>Total<span>{{employerCount.total}}</span></li>
                                 </ul>
                                 <button class="btn btn-primary" (click)="downloadEmployerExcel()">Export <i class="fa fa-download"></i></button>
                              </div><div class="profileleft_sidebarbg text-center">
                                 <div class="icon-section"><i class="simple-icon-briefcase"></i></div>
                                 <h3>Jobs</h3>
                                 <ul class="profile_list" *ngIf="jobCount">
                                    <li>Today<span>{{jobCount.today}}</span></li>
                                    <li>Total<span>{{jobCount.total}}</span></li>
                                 </ul>
                                 <button class="btn btn-primary" (click)="downloadJobsExcel()">Export <i class="fa fa-download"></i></button>
                              </div>
                           </div>
                               
                        </div>
                     </div>

             
          </div>
       </div>
    </div>
 </div>
</main>

