.profileleft_sidebarbg{
	float: left;
    width: 30%;
    margin: 18px;
}

.profileleft_sidebarbg{
    padding: 25px 70px;
}
.profileleft_sidebarbg input[type="text"] {
    margin: 10px 0;
    width: 100%;
    height: 34px;
    border-radius: 4px;
    border: 1px solid grey;
    font-size: 14px;
    padding: 0 10px;
}

