
<main>
 <div class="container-fluid">
    <div class="row mb-4 job-overview-content">
       <div class="col-12 data-tables-hide-filter">
          <div class="card-body">
             <div class="mb-2  d-lg-flex justify-content-lg-between">
                <div class="stacked-title">
                   <h1 class="active">Contact Us</h1>
                </div>
                <app-header></app-header>
             </div>
             <div class="profile_contsec">
                        
                        <div class="row">
                           <div class="col"> 
                              <div class="profileleft_sidebarbg text-center">
                                <form [formGroup]="phoneForm" (ngSubmit)="onSubmitPhone()">
                                    <span>Support Phone Number</span>
                                    <input type="text" formControlName="phone">
                                    <button class="btn btn-primary" type="submit">{{submitBtnPhone}}</button>
                                </form>
                              </div>
                              <div class="profileleft_sidebarbg text-center">
                                <form [formGroup]="emailForm" (ngSubmit)="onSubmitEmail()">
                                  <span>Support Email Address</span>
                                  <input type="text" formControlName="email">
                                  <button class="btn btn-primary" type="submit">{{submitBtnEmail}}</button>
                                </form>
                              </div>
                              <div class="profileleft_sidebarbg text-center">
                                <form [formGroup]="addressForm" (ngSubmit)="onSubmitAddress()">
                                  <span>Physical Address</span>
                                  <input type="text" formControlName="address">
                                  <button class="btn btn-primary" type="submit">{{submitBtnAddress}}</button>
                                </form>
                              </div>
                           </div>
                               
                        </div>
                     </div>
          </div>
       </div>
    </div>
 </div>
</main>

