
<main>
 <div class="container-fluid">
    <div class="row mb-4 job-overview-content">
       <div class="col-12 data-tables-hide-filter">
          <div class="card-body">
             <div class="mb-2  d-lg-flex justify-content-lg-between">
                <div class="stacked-title">
                   <h1 class="active">Send Notification</h1>
                </div>
                <app-header></app-header>
             </div>
             <div class="profile_contsec">
                        
                <div class="row">
                   <div class="col"> 
                      <div class="profileleft_sidebarbg">
                        <form [formGroup]="notificationForm" (ngSubmit)="onSubmit()">
                            <div class="formGroup">
                              <span style="margin-bottom: 10px">User Type</span>
                              <input type="radio" formControlName="userType" value="employer" checked=""> Employer
                              <input type="radio" formControlName="userType" value="employee"> Employee
                             
                            </div>
                            <div class="formGroup">
                              <span>Title</span>
                              <input type="text" formControlName="title" class="form-fields" style="height: 34px;">
                            </div>
                            <div class="formGroup">
                              <span>Description</span>
                              <textarea formControlName="description" class="form-fields" rows="5"></textarea>
                            </div>
                            <button class="btn btn-primary" type="submit">{{submitBtn}}</button>
                        </form>
                      </div>
                   </div>
                       
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
</main>

