.profileleft_sidebarbg{
    padding: 25px 70px;
}
.profileleft_sidebarbg .form-fields {
    margin: 10px 0;
    width: 100%;
    border-radius: 4px;
    border: 1px solid grey;
    font-size: 14px;
    padding: 10px 10px;
}
.formGroup {
    margin-bottom: 20px;
}
.formGroup span{
    font-weight: bold;
    width: 100%;
    float: left;
}