<!-- <div class="user desktopdropdown_btn">
  <a href="#" class="blue_bottle_btn mr-1" data-toggle="dropdown">Blue bottle coffee <img src="assets/img/Blue_Bottle_icon.png"></a>
  <div class="dropdown-menu  mt-3">
     <a class="dropdown-item" href="#"><i class="simple-icon-user-following"></i>Profile</a>
     <a class="dropdown-item" href="#"><i class="simple-icon-bell"></i>Notification</a>
     <a class="dropdown-item" href="#"><i class="simple-icon-phone"></i>Help</a>
     <a class="dropdown-item" href="#"><i class="simple-icon-logout"></i>Sign out</a>
  </div>
</div> -->
<div class="user desktopdropdown_btn">  
    <a href="#" class="blue_bottle_btn mr-1" data-toggle="dropdown">{{username}}
      <img src="assets/img/profileuser.png">
    </a>
    <div class="dropdown-menu  mt-3">
    <a class="dropdown-item" href="javascript:void(0)" (click)="logout()"><i class="simple-icon-logout"></i>Sign out</a>
    </div>
</div>