@import "~@ng-select/ng-select/themes/default.theme.css";

/* You can add global styles to this file, and also import other style files */
ng-multiselect-dropdown .multiselect-dropdown .dropdown-btn{
	padding: 6px 12px !important;
	border: none !important;
}

/************ Auto Complete *********/
.autocomplete-container{
	box-shadow: none !important
}
.autocomplete-container .input-container input{
	background: none !important; padding: 0 35px 0 15px !important
}
/*.ng-autocomplete{
    width: 300px !important;
}*/
/*.ng-autocomplete.step3{
    display: inline-block;
}*/
.form-side.profile_formsec label.form-group{
    height: auto !important;
}
/************ Auto Complete *********/
.second-toolbar{display: none !important}
.fr-wrapper.show-placeholder, .abouttextarea .fr-wrapper, .abouttextarea .fr-wrapper .fr-element{height: 215px;background: #F9F9FA !important;}
.fr-sticky-off{background: #F9F9FA !important; }
.abouttextarea span.fr-placeholder {
    font-family: 'sf_ui_displayregular' !important;
}

/**********Price Slider**********/
/*.ng5-slider{width: 50% !important;}*/
span.ng5-slider-span.ng5-slider-bar.ng5-slider-selection, .ng5-slider .ng5-slider-pointer:after{
    background: #1480FF !important;visibility: visible !important;
}
.ng5-slider .ng5-slider-pointer{
	width: 20px !important;
    height: 20px !important;
    border-radius: 20px !important;
    top: -8px !important;
    border: 1px solid #D3D3D3 !important;
    background: white !important;
}
.ng5-slider .ng5-slider-bar {
	height: 7px !important;
    border-radius: 4px !important;
    background: #fff !important;
    border: 1px solid #D3D3D3 !important;
}
.ng5-slider .ng5-slider-pointer.ng5-slider-active:after, .ng5-slider .ng5-slider-pointer:after{
	top: 5px !important;
    left: 5px !important;
}
span.ng5-slider-span.ng5-slider-pointer:focus {
    outline: none;
}
/**********End Price Slider**********/


.multiselect-dropdown .dropdown-btn .selected-item{
    border : none !important;
    background: none !important;
    color: #3a3a3a !important;
}
.multiselect-dropdown .dropdown-btn .selected-item a{
    display: none !important;
}
.fr-wrapper > div >a {
    display: none !important;
}
.angular-editor-textarea {
    min-height: 13rem !important;
    /*max-height: 13rem !important;*/
}
.hide-Close .x i.material-icons {
    display: none;
}

/*.main-show-temporary main {
    margin-left: 220px !important;
}*/

.open-menu .menu .main-menu {
    width: 218px;
}
.open-menu main{
    margin-left: 220px !important;
}

.open-menu .menu .main-menu ul li span {
    display: block;
}
.open-menu img.logo-blue {
    display: block;
}
.open-menu img.logo-circle {
    display: none;
}
#app-container.open-mobile-menu .main-menu {
    transform: translateX(0);
    box-shadow: 0 3px 30px rgba(0, 0, 0, 0.1), 0 3px 20px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}
.menu-mobile table th {
    min-width: 200px !important;
}
.menu-mobile .paging_simple_numbers{overflow-x: auto;
    display: block !important;}

.joprocess_rightbar .stepform_group .abouttextarea span {
    margin: 0 !important;text-transform: none !important;
}
.jobprocess_sec .abouttextarea ul, .jobprocess_sec .abouttextarea ol {
    padding: 10px 20px !important;
}
.jobprocess_sec .abouttextarea  ul li {
    display: list-item !important;font-size: inherit;
}

.ng-select.ng-select-single .ng-select-container {
    background: none;
    border: none;
}
.ng-select .ng-select-container:hover, .ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
    box-shadow: none;
}

.ng-select div, .ng-select input, .ng-select span {
    font-size: 15px !important;
}

.angular-editor-placeholder{
    padding: 15px !important;
}

/*.open-menu .location-dropdown{
    right: -10px !important;
}
.open-menu .location-dropdown.job-type-dropdown {
    right: 50px !important;
}*/
.row.view-pager {
    padding-bottom: 30px;
}

@media (max-width:767px) {

    .multiselect-dropdown .dropdown-list, .suggestions-container ul{
        width: 330px !important;
        left: -130px !important;
    }
    .ng5-slider{width: 100% !important;}
}




