table th{
	font-family: 'sf_ui_displaybold';
	font-weight: normal;
	font-style: normal;
	color:#8B8B9B;	
	font-size:14px;
  text-transform: uppercase;
}
table tr {
   background: rgba(139, 139, 155, 0.1);
}
table tbody tr:nth-of-type(2n+1) {
    background: #fff;
}
table td{
	border:none;
}
table td, 
table th {
	padding: .95rem .75rem !important;
}
table.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child, table.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child {
    padding-left: 30px !important;
}
table > tbody > tr.child span.dtr-title {
    font-size: 14px;
	font-family: 'sf_ui_displaybold';
    font-weight: normal;
    font-style: normal;
}
table > tbody > tr.child ul.dtr-details {
    width: 100%;
}


table td {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f3f3f3;
  outline: initial !important; }

table tr:last-of-type td {
  border-bottom: initial; }

table {
  width: 100% !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

table p,
table h6 {
  margin-bottom: initial; }

table thead > tr > th.sorting_asc,
table thead > tr > th.sorting_desc,
table thead > tr > th.sorting,
table thead > tr > td.sorting_asc,
table thead > tr > td.sorting_desc,
table thead > tr > td.sorting {
  padding-top: 10px;
  padding-bottom: 10px; }

table thead .sorting:after,
table thead .sorting_asc:after,
table thead .sorting_desc:after,
table thead .sorting_asc_disabled:after,
table thead .sorting_desc_disabled:after {
  right: 1.5em; }

table thead .sorting:before,
table thead .sorting_asc:before,
table thead .sorting_desc:before,
table thead .sorting_asc_disabled:before,
table thead .sorting_desc_disabled:before {
  right: 2em; }

s_wrapper .paginate_button.previous {
  margin-right: 15px; }

s_wrapper .paginate_button.next {
  margin-left: 15px; }

divs_wrapper divs_paginate {
  margin-top: 25px; }

divs_wrapper divs_paginate ul.pagination {
  justify-content: center; }

s_wrapper .paginate_button.page-item {
  padding-left: 10px;
  padding-right: 10px; }

table.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child:before,
table.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child:before {
  top: unset;
  box-shadow: initial;
  background-color: #1480FF;
  font-size: 12px; }

.data-table-rows s_wrapper {
  overflow: initial; }

.data-table-rows table {
  border-spacing: 0px 1rem; }
  .data-table-rows table tbody tr {
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04); }
  .data-table-rows table tbody tr.selected {
    box-shadow: 0 3px 30px rgba(0, 0, 0, 0.1), 0 3px 20px rgba(0, 0, 0, 0.1); }
  .data-table-rows table tbody tr.child td {
    padding: 0.75rem 2rem; }
    .data-table-rows table tbody tr.child td li {
      padding: 0 !important; }
  .data-table-rows table td,
  .data-table-rows table th {
    padding: 1.5rem;
    border: initial; }
  .data-table-rows table td {
    background: white; }
  .data-table-rows table th.empty:before, .data-table-rows table th.empty:after {
    content: ""; }
  .data-table-rows table .data-table-rows-check {
    text-align: right;
    pointer-events: none; }

.data-table-rows table thead .sorting:before,
.data-table-rows table thead .sorting_asc:before,
.data-table-rows table thead .sorting_asc_disabled:before,
.data-table-rows table thead .sorting_desc:before,
.data-table-rows table thead .sorting_desc_disabled:before {
  right: initial;
  left: 0.5em; }

.data-table-rows table thead .sorting:after,
.data-table-rows table thead .sorting_asc:after,
.data-table-rows table thead .sorting_asc_disabled:after,
.data-table-rows table thead .sorting_desc:after,
.data-table-rows table thead .sorting_desc_disabled:after {
  right: initial;
  left: 0; }

.data-tables-hide-filter .view-filter {
  display: none; }

.no-records td{border: 1px solid #f3f3f3 !important}
.no-records p{    
  text-align: center;
    color: #3a3a3a;
}
.pagination-sm .page-item .page-link{cursor: pointer;}
.paging_simple_numbers{
  margin-top: 25px !important;
    margin: 0 auto;
    display: table;
}

table tbody label span {
    background-color: #1480FF;
    border-color: #1480FF;
    color: #fff;
    margin: 4px;
    padding: 4px 6px;
    font-size: 12px;
    border-radius: 4px;
}

a.backbtn:hover {
    color: #1480ff !important;
}

/********Start Search Location Dropdown***************/
.location-dropdown {
  position: absolute;
  right: 0; z-index: 4;
}

.location-dropdown .dropbtn {
  font-size: 16px;
    border: none;
    outline: none;
    color: #8B8B9B;
    padding: 4px 12px;
    background-color: inherit;
    font-family: inherit;
    margin: 6px 4px;
    background: #f8f8f8;
    border-radius: 4px;text-transform: uppercase;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.location-dropdown .dropdown-content a {
    float: none;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 0.85rem;
    color: #3a3a3a;text-transform: uppercase;
}

.location-dropdown .dropdown-content a:hover {
  background-color: #ddd;
}

.location-dropdown:hover .dropdown-content {
  display: block;
}
/********Stop Search Location Dropdown***************/
.jobs.fa-sort{
  margin-left: 5px;
  cursor: pointer;;
}
.profile-popupimg{
  max-height: 295px !important;
}

ul.skillsblk li a{
  cursor: default !important;
}
button.close{
    position: absolute;
    right: -20px;
    z-index: 9;
    top: -20px;
    color: #fff;
    opacity: 1;

}
.employees img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.employees .verify img{
  width: 30px;
    height: 30px;
}
.employees td, .employees th {
    text-align: center;
}
main {
    margin-bottom: 0 !important;
}
.modal-header{
  background: #1480FF;
  padding: 10px 20px;
  border: none !important;
  border-radius: 0;
  color: #fff;
}
.modal-footer{
      padding: 10px 20px;
}
.actions a{
  cursor: pointer;
}
a.btn.verify {
    background: #1480FF;
    color: #fff;
}

