
<main>
  <div class="container-fluid">
    <div class="row mb-4 job-overview-content">
      <div class="col-12 data-tables-hide-filter">
        <div class="card-body">
          <div class="mb-2  d-lg-flex justify-content-lg-between">
            <div class="stacked-title">
             
              <h1 class="active">All Categories</h1>
            </div>
            <app-header></app-header>
          </div>
        </div>
        <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block mb-5" aria-label="breadcrumb">
          <ol class="breadcrumb p-0">
           
            <li class="breadcrumb-item">
              <button class="btn btn-primary">Add New Category</button>
            </li>
          </ol>
        </nav>
        <div class="table-responsive">
          <table class="data-table data-tables-pagination responsive nowrap employees">
            <thead>
              <tr>
                <th>Sr No.</th>
                <th>Category Name</th>
                <th>View Skills</th>
                <th>View Tasks</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let category of categories; index as i">
                <td>
                  <p>{{ i+pageIndex + 1 }}</p>
                </td>
                <td>
                  <p>{{category.description}}</p>
                </td>
                <td class="actions">
                  <a class="btn verify" routerLink="">
                      View Skills
                  </a>
                </td>
                <td class="actions">
                  <a class="btn verify" routerLink="">
                      View Tasks
                  </a>
                </td>
                <td class="actions" routerLink="">
                  <a class="btn">
                      <em class="simple-icon-pencil" style="color: #1480FF;"></em>
                  </a>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="categories.length == 0" class="no-records">
              <tr>
                <td colspan="3">
                  <p>{{loadingMsg}}</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
          <div class="row view-pager">
            <div class="col-sm-12">
              <div class="text-center">
                <div class="paging_simple_numbers">
                
                  <ul class="pagination pagination-sm" *ngIf="pager.pages?.length > 0">
                    
                    <li class="paginate_button page-item previous" [ngClass]="{disabled:pager.currentPage === 1}">
                        <a class="page-link prev" (click)="setPage(pager.currentPage - 1)"><i class="simple-icon-arrow-left"></i></a>
                    </li>
                   
                    <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                      <a class="page-link" (click)="setPage(page)">{{page}}</a>
                    </li>

                    <li class="paginate_button page-item next" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a class="page-link next" (click)="setPage(pager.currentPage+1)"><i class="simple-icon-arrow-right"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>
  </div>
</main>

