
<main>
  <div class="container-fluid">
    <div class="row mb-4 job-overview-content">
      <div class="col-12 data-tables-hide-filter">
        <div class="card-body">
          <div class="mb-2  d-lg-flex justify-content-lg-between">
            <div class="stacked-title">
              <h1 class="active" style="text-transform: capitalize;">Jobs</h1>
            </div>
            <div class="top-right-button-container d-flex align-items-center justify-content-lg-end">
              <div class="search_bar">
                <div class="input-group">
                  <input type="text" class="form-control typeahead" name="query" id="query" placeholder="Search Job..." data-provide="typeahead" autocomplete="off" [(ngModel)]="searchJob">
                 
                  <span class="search-icon">
                    <i class="simple-icon-magnifier" (click)="searchJobTitle(searchJob)"></i>
                  </span>
                </div>
              </div>
              <app-header></app-header>
            </div>
            
          </div>
        </div>
        <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block mb-5" aria-label="breadcrumb">
          <ol class="breadcrumb p-0">
            <li class="breadcrumb-item" [ngClass]="{'active': jobType === 'posted'}">
              <a routerLink="/jobs/posted">Active</a>
            </li>
            <li class="breadcrumb-item" [ngClass]="{'active': jobType === 'past'}">
              <a routerLink="/jobs/past">Past</a>
            </li>
            <li class="breadcrumb-item" [ngClass]="{'active': jobType === 'upcoming'}">
              <a routerLink="/jobs/upcoming">Upcoming</a>
            </li>
            <li class="breadcrumb-item" [ngClass]="{'active': jobType === 'ongoing'}">
              <a routerLink="/jobs/ongoing">Ongoing</a>
            </li>
          </ol>
        </nav>
        <div class="table-responsive">
          <table class="data-table data-tables-pagination responsive nowrap employees">
            <thead>
              <tr>
                <th>Sr No.</th>
                <th>Job Name</th>
                <th>Employer Name </th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>View Employee</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let job of jobs; index as i">
                <td>
                  <p>{{ i+pageIndex + 1 }}</p>
                </td>
                
                <td>
                  <p>{{job.jobName}}</p>
                </td>
                <td>
                  <p>{{job.employer?.name}}</p>
                </td>
                <td>
                  <p>{{job.startDate | date}}</p>
                </td>
                <td>
                  <p>{{job.endDate | date}}</p>
                </td>

                <td>
                  <a class="btn" title="View" routerLink="/jobs/getEmployee/{{jobType}}/{{job._id}}">
                    <em class="fa fa-eye"></em>
                  </a>
                </td>
              </tr>

            </tbody>
            <tbody *ngIf="jobs.length == 0" class="no-records">
              <tr>
                <td colspan="6">
                  <p>{{loadingMsg}}</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
          <div class="row view-pager">
            <div class="col-sm-12">
              <div class="text-center">
                <div class="paging_simple_numbers">
                
                  <ul class="pagination pagination-sm" *ngIf="pager.pages?.length > 0">
                    
                    <li class="paginate_button page-item previous" [ngClass]="{disabled:pager.currentPage === 1}">
                        <a class="page-link prev" (click)="setPage(pager.currentPage - 1)"><i class="simple-icon-arrow-left"></i></a>
                    </li>
                   
                    <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                      <a class="page-link" (click)="setPage(page)">{{page}}</a>
                    </li>

                    <li class="paginate_button page-item next" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a class="page-link next" (click)="setPage(pager.currentPage+1)"><i class="simple-icon-arrow-right"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>
  </div>
</main>

