 <div class="fixed-background" [hidden]='isUploadImg'></div>
    <main class="auth-pager" [hidden]='isUploadImg'>
        <div class="container">
            <div class="row h-100">
                <div class="col-12 col-xl-10 mx-auto">
                    <div class="auth-header">
                        <div class="auth-logo"><a href="javascript:void(0)"><img src="assets/img/Acquire.png" style="width: 68px;"></a></div>
                        <div clas="authheader-right">
                            <button type="button" class="btn btn-outline-light btn-lg mb-1 mr-4" (click)="loginBtn()">Sign in</button>
                            <button type="button" class="btn btn-primary btn-lg mb-1">Sign up</button>
                        </div>
                    </div>              
                </div>              
                <div class="col-12  col-xl-10 mx-auto">
                    <div class="auth-card align-items-center">
                        <div class="position-relative image-side ">
                            <p class=" text-white h2">Sign up to get<br>qualified candidates<br>for your company</p>
                        </div>
                        <div class="form-side">
                            <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
                                <label class="form-group">
                                    <span>Trading name</span>
                                    <input formControlName="name"  class="form-control" placeholder="Company name"/>
                                </label>
                                <div class="validation-error" *ngIf="f.name.errors?.required && (!f.name.pristine || submitted == true)">Trading Name is required.</div>
                                <div class="validation-error" *ngIf="f.name.errors?.minlength && (!f.name.pristine || submitted == true)">Minimun 2 characters required</div>
                                <div class="validation-error" *ngIf="f.name.errors?.invalid && (!f.name.pristine || submitted == true)">Please enter valid trading name</div>

                                <label class="form-group">
                                    <span>ABN Number</span>                             
                                    <input formControlName="abnNumber" class="form-control" placeholder="51 824 753 556"/>
                                </label>
                                <!-- <div class="validation-error" *ngIf="f.abnNumber.errors?.required && (!f.abnNumber.pristine || submitted == true)">ABN Number is required.</div>
                                <div class="validation-error" *ngIf="f.abnNumber.errors?.pattern && (!f.abnNumber.pristine || submitted == true)">Must be a Number</div> -->
                                <label class="form-group">
                                    <span>Email</span>                              
                                    <input formControlName="email"  class="form-control" type="email" placeholder="example@mail.com" />
                                </label>
                                <div class="validation-error" *ngIf="f.email.errors?.required && (submitted == true)">Email is required.</div>
                                <div class="validation-error" *ngIf="f.email.errors?.invalid && (submitted == true)">Invalid email id !</div>
                                <label class="form-group">
                                    <span>Password</span>                               
                                    <input formControlName="password" class="form-control" type="password" placeholder="Password" />
                                </label>  
                                <div class="validation-error" *ngIf="f.password.errors?.required && (submitted == true)">Password is required.</div>
                                 <div class="validation-error" *ngIf="f.password.errors?.invalid && (!f.password.pristine || submitted == true)">Password must contain at least one capital letter, small letter, digit and 8 characters </div>
                                <div class="d-flex align-items-center">
                                    <button class="btn btn-primary btn-lg btn-block" type="submit">{{signupBtn}}<span *ngIf="loading" class="show-spinner"></span></button>

                                   

                                </div>
                                <!-- <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div> -->
                                <div class="form-terms">By clicking this button you agree to our <a href="http://support.acquire.jobs/en/articles/4634797-terms-conditions" target="_blank">terms and conditions</a></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

 <div class="imgUpload-background" [hidden]='!isUploadImg'></div>
    <main class="auth-pager" [hidden]='!isUploadImg'>
        <div class="container">
            <div class="row h-100"> 		    
                <div class="col-12 col-xl-12 auth-header-upload">
                        <div class="auth-logo">
                            <a href="javascript:void(0)">
                                <img src="assets/img/Acquire.png" style="width: 68px;">
                            </a>
                        </div>
                        <div class="upload-section">
                            <h1 class="text-white h2">Just one more step</h1>
                            <p>Add your company's logo to build credibility</p>
                            <form [formGroup] = "uploadForm">     
                                <div class="upload-logo-section">
                                    <div class="brdr">
                                        <img src="assets/img/default-img.png" *ngIf="!imgUrl"/>
                                        <img [src]="imgUrl" *ngIf='imgUrl' class="uploaded-img"/>
                                        <p>Drag and drop the image here <br/>
                                            (PNG, JPG or SVG)
                                        </p>
                                        <button (click)="imgUpload()" >{{uploadLogoText}}</button>
                                    </div>
                                </div>
                                <!-- <img [src]="imgUrl" *ngIf='imgUrl' class="uploaded-img" /> -->
                               <!--  <input type="image" src="assets/img/upload-img.png" (click)="imgUpload()" style="width: 100%;" /> -->
                                <input type="file" (change)="onSelectFile($event)" id="my_file" style="display: none;" />
                                <button class="btn btn-primary btn-lg btn-block" [ngClass]="{'success-upload':imgUrl !=''}" type="submit" [disabled]='!imgUrl' (click)="completeSignUp()">Complete sign up</button>
                            </form>
                            <a (click)='skip()' style="cursor: pointer;">Skip</a>
                        </div>
                </div>
            </div>
        </div>
    </main>
