.imgUpload-background{    
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 15px;
    border-radius: 20px;
}
.auth-header-upload {
    display: block;
    align-items: center;
    max-width: 340px;
    margin: 100px auto;
    text-align: center;
}
.upload-section p{
	font-family: 'sf_ui_displayregular';
    color: #fff;
    margin-bottom: 60px;
    font-size: 16px;
    opacity: 0.9;
}
.upload-section h1{
	margin-top: 40px;padding:0;
}
.upload-section button{
	margin: 30px 0 20px 0
}
.upload-section a{
	color: #fff;
}
.uploaded-img{
	width: 70px;
    /*margin-bottom: 20px;*/
}
button.success-upload{
	border: 1px solid #fff !important;
}

/* Start upload image******/

.upload-logo-section {
    margin: 8px 0;
    background: #FFFFFF;
    border-radius: 4px;
    padding: 6px;
}
.upload-logo-section .brdr{
    border: 2px dotted #75B3FC;
    border-radius: 4px;
    padding: 10px;
}
.upload-logo-section p {
    margin: 8px 0 !important;
    color: #ccc !important;
    font-size: 10px !important;
    line-height: 14px;
}
.upload-logo-section button {
    margin: 0 !important;
    background: none !important;
    border: none;
    font-size: 12px;
    font-family: 'sf_ui_displaybold';
    color: #75B3FC;
}

/* End upload image **/
.validation-error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}

@media (max-width: 767px){
	.auth-header-upload{margin: 30px auto !important;}
}