<div class="fixed-background"></div>
  <main class="auth-pager">
      <div class="container">
          <div class="row h-100">
              <div class="col-12 col-xl-10 mx-auto">
                <div class="auth-header">
                  <div class="auth-logo"><a href="javascript:void(0)"><img src="assets/img/Acquire.png" style="width: 68px;"></a></div>
                  <div clas="authheader-right">
                    <button type="button" class="btn btn-outline-light btn-lg mb-1 mr-4" (click)="signinBtn()">Sign in</button>
                    <!-- <button type="button" class="btn btn-outline-light btn-lg mb-1" (click)="signupBtn()">Sign up</button> -->
                  </div>
                </div>          
              </div>          
              <div class="col-12  col-xl-10 mx-auto">
                  <div class="auth-card align-items-center">
                      <div class="position-relative image-side ">
                         <!--  <p class=" text-white h2">Sign up to get<br>qualified candidates<br>for your company</p> -->
                      </div>
                      <div class="form-side">
                          <form [formGroup]="ForgetForm" (ngSubmit)="onSubmit()">
                              <label class="form-group">
                                  <span>Email</span> 
                                  <input type="text" formControlName="email" class="form-control"  placeholder="example@mail.com" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                    
                              </label>
                            
                              <div class="validation-error" *ngIf="f.email.errors?.required && (submitted == true)">Email is required.</div>
                              <div class="validation-error" *ngIf="f.email.errors?.invalid  && (submitted == true)">Invalid email id !</div>
                                
                              <div class="d-flex align-items-center">
                                 <!--  <button class="btn btn-primary btn-lg btn-block" type="submit">
                                  Sign in and find candidates</button> -->
                                  <button [disabled]="loading" class="btn btn-primary btn-lg btn-block">
                                     {{loginBtn}}
                                      <span *ngIf="loading" class="show-spinner"></span>
                                  </button>
                              </div>
                             <!--  <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div> -->
                            
                              <div class="form-terms" style="margin-top: 8px;">By clicking this button you agree to our <a href="http://support.acquire.jobs/en/articles/4634797-terms-conditions" target="_blank">terms and conditions</a></div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </main>